<!-- Para caso tenha itens a baixo -->
<div *ngIf="objeto?.isHaveChild">
  <div class="pai-filho" style="display: flex;">
    <div class="item-list-pai" (click)="toggleContent(); emiteCaminho()"
      title="{{ objeto.staticPropertiesList[1].propertieValue }}">
      {{ objeto.staticPropertiesList[0].propertieValue }}

    </div>
    <button id="btn-add" name="btn-add" class="mini-btn-add btn-add-res-tree" (click)="addItem(objeto.itemList[0].tipoItem)" title="Adicionar item na pasta!">+</button>

  </div>
  <div *ngIf="objeto?.isSelected" class="item-list-filho">
    <app-resources-tree *ngFor="let obj of objeto?.itemList" [objeto]="obj"></app-resources-tree>
  </div>
</div>

<!-- Para caso não tenha itens a baixo -->
<div *ngIf="!objeto?.isHaveChild" (click)="emiteCaminho()" class="item-list-pai" title="{{ objeto.staticPropertiesList[1].propertieValue }}">
  {{ objeto.staticPropertiesList[0].propertieValue }}
</div>
