@import "../../../../styles.scss";

textarea {
  background: transparent;
  border: $size-none solid $font-color-input-propertie-editor;
  color: $font-color-input-propertie-editor;
  padding: $size-2;
  padding-left: $size-1-5;
  padding-right: $size-1-5;
  font-family: Arial, 'Courier New', monospace;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  resize: none;
}

.btn-remove-item {
  border-radius: 2px;
  background: transparent;
  text-align: center;
}

.btn-remove-item:hover {
  background-color: rgb(80, 80, 80);
  color: white;
}

.btn-remove-item:active {
  outline: auto;
}

