@import '../../../../styles.scss';

.top-bar-main {
    height: $size-8;
    background-color: $color-top-bar;
    display: flex;
    color: $color-white;
    -webkit-app-region: drag;
}

.left {
    flex: 1;
}

.center {
    flex: 1;
}

.right {
    flex: 1;
    display: flex;
}

.frame-buttons {
    display: flex;
    height: $size-fill;
    width: $size-35;
    position: relative;
}

.frame-btn-minimizar {
    flex: 1;
    text-align: center;
    padding-top: $size-1-5;
}

.frame-btn-maximizar {
    flex: 1;
    text-align: center;
    padding-top: $size-1-5;
}

.frame-btn-close {
    flex: 1;
    text-align: center;
    padding-top: $size-1-5;
}

.frame-btn-maximizar:hover, .frame-btn-minimizar:hover {
    background-color: $color-top-bar-button-maximizar;
}

.frame-btn-close:hover {
    background-color: $color-top-bar-button-close;
}

.ide-buttons {
    flex: 1;
}