<div class="top-bar-main" style="position: relative;">
  <div class="top-bar-main">
    <div class="left">
      <div class="frame-buttons">
        <div class="frame-btn btn-menu">
          Arquivo
        </div>
        <div class="frame-btn btn-menu">
          Editar
        </div>
        <div class="frame-btn btn-menu">
          Build
        </div>
        <div class="frame-btn btn-menu">
          Ferramentas
        </div>
        <div class="frame-btn btn-menu">
          Ajuda
        </div>
        <div (click)="descartarProjeto()" class="frame-btn btn-menu">
          Fechar
        </div>
      </div>
    </div>
    <div class="center">
      {{ tituloIde }}
    </div>
    <div class="right">
        <div class="frame-buttons" *ngIf="srcGlobal">
          <div class="frame-btn frame-btn-play" *ngIf="srcGlobal[0]?.staticPropertiesList[5]?.propertieValue === '--'" (click)="play()" title="Iniciar API"></div>
          <div class="frame-btn frame-btn-restart" *ngIf="srcGlobal[0]?.staticPropertiesList[5]?.propertieValue !== '--'" (click)="play()" title="Reiniciar API"></div>
          <div class="frame-btn frame-btn-stop" *ngIf="srcGlobal[0]?.staticPropertiesList[5]?.propertieValue !== '--'" (click)="stop()" title="Parar API"></div>
        </div>
      <div class="frame-buttons">
        <div class="frame-btn frame-btn-minimizar" (click)="minimizeIde()" title="Minimizar"></div>
        <div class="frame-btn frame-btn-maximizar" (click)="toggleMaximizeIde()" title=""></div>
        <div class="frame-btn frame-btn-close" (click)="closeIde()" title="Fechar"></div>
      </div>
    </div>
  </div>
</div>
