@import "../../../styles.scss";

.main-page {
  height: $size-fill;
  display: flex;
  flex-direction: column;
  background-color: $color-top-bar;
}

.main-frame {
    width: 80%;
    height: 80%;
    min-width: 400px;
    min-height: 400px;
    max-width: 900px;
    max-height: 600px;
    background-color: $color-background-col;
    margin: auto;
    display: flex;
    flex-direction: column;    
    border-radius: 5px;
}

.title-plataforma {
    font-size: $font-size-6;
    padding: $size-2;
    padding-left: unset;
    padding-right: unset;
}
.corpo-plataforma {
    flex: 1;
    border: $borda-size-0-25 solid #4F4F4F;
    padding: $size-4;
    margin-bottom: $size-5;
    overflow-x: auto;
}

.propertie {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: $font-size-3;
    margin-top: $size-0-5;
    margin-bottom: $size-0-5;
}

.propertie div {
    width: 30%;
}

.propertie .selectPath {
    display: flex;
    width: 70%;
    justify-content: space-between;
    input {
        padding-left: $size-1-5;
        padding-right: $size-1-5;
        width: 70%;
    }
    button {
        width: 18%;
    }
    button:focus {
        outline: auto;
    }
}

.propertie input, .propertie select {
    background: $color-background-propertie-editor;
    border: $size-none solid $color-white;
    color: $font-color-input-propertie-editor;
    padding: $size-2;
    padding-left: $size-1-5;
    padding-right: $size-1-5;
    width: 70%;
    font-family: Arial, 'Courier New', monospace;
    max-height: $size-4;
}

.propertie input:focus, .propertie select:focus {
    .extended {
        background: $color-background-propertie-editor;
    }
    .propertie input {
        background: $color-background-propertie-editor-exetended-hover;
    }
    outline: auto;
    color: $font-color-input-propertie-editor-focus;
}

.div-criar {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.btn-criar-projeto {
    padding: $size-5;
    padding-top: $size-2;
    padding-bottom: $size-2;
    margin-top: $size-2;
}

.btns-toggle {
    padding-top: $size-7;
    padding-bottom: $size-7;
    display: flex;
}

.btn-toggle {
    padding: $size-5;
    padding-top: $size-2;
    padding-bottom: $size-2;
    margin: $size-0-5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    flex: 1;
}

.resultado-busca {
    width: -webkit-fill-available;
    height: 90%;
    margin-top: 10px;
}

.item-lista {
    display: flex;
    padding: 10px;
    cursor: pointer; 
    flex: 1;
}

.frame-btn-trash-projeto {
    content: url(assets/icons/btn-trash.svg);
    cursor: pointer;
}

.item-lista:hover, .frame-btn-trash-projeto:hover {
    opacity: 0.7;
}

.frame-btn-trash-projeto:active, .item-lista:active {
    outline: auto;
}

