<div class="main-page">
  <!-- Top bar frame -->
  <app-top-bar-frame [tituloIde]="srcGlobal[0]?.staticPropertiesList[0]?.propertieValue"></app-top-bar-frame>
  <!-- Top bar frame -->
  
  <!-- Tool bar -->
  <app-tool-bar></app-tool-bar>
  <!-- Tool bar -->

  <!-- Properties tab -->
  <div class="application-body" *ngIf="currentTab == 'propriedades'">
    <div class="properties-main">
      <div class="title-properties-main">
        Propriedades do projeto
        <hr>
      </div>
      <div class="body-properties-main">
        <div class="propertie" *ngFor="let item of srcGlobal[0]?.staticPropertiesList; index as i">  
          <div> {{ item.propertieName }} </div>
          <input  *ngIf="item.propertieType === 'openDependencias'" type="button"           class="input-padrao" id="input-propertie-{{ i }}" name="input-propertie-{{ i }}" value="{{ item.propertiePlaceholder }}" (click)="changeCurrentTab('plugins')"   style="max-height: unset;"/>
          <input  *ngIf="item.propertieType === 'text'"          type="text"                class="input-padrao" id="input-propertie-{{ i }}" name="input-propertie-{{ i }}" [(ngModel)]="item.propertieValue" placeholder="{{ item.propertiePlaceholder }}" (change)="inputsOnChange()" />
          <input  *ngIf="item.propertieType === 'textMultiline'" type="text"                class="input-padrao" id="input-propertie-{{ i }}" name="input-propertie-{{ i }}" [(ngModel)]="item.propertieValue" placeholder="{{ item.propertiePlaceholder }}" (change)="inputsOnChange()" />
          <input  *ngIf="item.propertieType === 'selectPath'"    type="text"                class="input-padrao" id="input-propertie-{{ i }}" name="input-propertie-{{ i }}" [(ngModel)]="item.propertieValue" placeholder="{{ item.propertiePlaceholder }}" (change)="inputsOnChange()" (click)="selecionarCaminho(i)" />
          <input  *ngIf="item.propertieType === 'number'"        type="number"              class="input-padrao" id="input-propertie-{{ i }}" name="input-propertie-{{ i }}" [(ngModel)]="item.propertieValue" placeholder="{{ item.propertiePlaceholder }}" (change)="inputsOnChange()" />
          <input  *ngIf="item.propertieType === 'disabled'"      type="text"                class="input-padrao" id="input-propertie-{{ i }}" name="input-propertie-{{ i }}" [(ngModel)]="item.propertieValue" placeholder="{{ item.propertiePlaceholder }}" (change)="inputsOnChange()" disabled />
          <select *ngIf="item.propertieType === 'select'"        style="max-height: unset;" class="input-padrao" id="input-propertie-{{ i }}" name="input-propertie-{{ i }}" [(ngModel)]="item.propertieValue" >
              <option value="0">{{ item.placeholder }}</option>
              <option *ngFor="let sugest of item.sugestions" value="{{ sugest.value }}">{{ sugest.label }}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <!-- Properties tab -->








  <div class="application-body" *ngIf="currentTab == 'plugins'">
    <div class="dependences-main">
      <div class="dependences-list">
        <div class="title-dependences-list">
          Dependências do projeto
          <hr>
        </div>
        <div class="btns-toggle">
          <button class="btn btn-toggle" (click)="toggleTab = true">Instaladas</button>
          <button class="btn btn-toggle" (click)="toggleTab = false">Instalar</button>
        </div>

        <div class="corpo-dependences-list" *ngIf="toggleTab == true">
          <div class="resultado-busca">
            <div style="display: flex; flex-direction: column;" *ngFor="let dependence of dependencesList; index as i">
                <div class="item-lista" (click)="abrirDependencia(i, 'instaladas')">
                    <div style="flex: 1; align-self: center;">{{ dependence.name }}</div>
                    <div style="flex: 1; align-self: center; text-align: right;">{{ dependence.version }}</div>
                </div>
            </div>
          </div>
        </div>

        <input type="text" (keypress)="inicializaNpmSearch()" *ngIf="toggleTab == false" [(ngModel)]="dependenciaSearch" class="input-padrao input-large input-fill" style="margin-bottom: 14px;" id="input-busca" name="input-busca" placeholder="Buscar pacote npm..." />
        <div class="corpo-dependences-list" *ngIf="toggleTab == false">
          <div class="resultado-busca">
            <div style="display: flex; flex-direction: column;" *ngFor="let dependence of installDependencesList; index as i">
                <div class="item-lista" (click)="abrirDependencia(i, 'instalar')">
                    <div style="flex: 1; align-self: center;">{{ dependence.name }}</div>
                    <div style="flex: 1; align-self: center; text-align: right;">{{ dependence.version }}</div>
                </div>
            </div>
          </div>
        </div>
      </div>






      <div class="dependences-details" *ngIf="dependenciaDetalhe.name !== ''">
        <div class="title-dependences-details">
          {{ dependenciaDetalhe.name }}
          <div class="version-dependences">
            {{ dependenciaDetalhe.version }}
          </div>
        </div>
        <div class="dependences-details-main">


          <div style="display: flex;">
            <button class="btn btn-instalar-remover-dependencia danger" *ngIf="dependenciaDetalhe.name !== '' && instalarDependencia === false" (click)="removeDependencia(dependenciaDetalhe.index);">Remover</button>
            <button class="btn btn-instalar-remover-dependencia primary" *ngIf="dependenciaDetalhe.name !== '' && instalarDependencia === true"  (click)="adicionaDependencia(dependenciaDetalhe.index);">Instalar</button>
          </div>






          <div style="padding: 10px;">
            Autor: <div style="font-size: 14px; font-weight: 100;">{{ dependenciaDetalhe?.author?.name }}</div>
          </div>
          <div style="padding: 10px;">
            Data: <div style="font-size: 14px; font-weight: 100;">{{ dependenciaDetalhe?.date }}</div>
          </div>
          <div style="padding: 10px;">
            Descrição: <div style="font-size: 14px; font-weight: 100;">{{ dependenciaDetalhe?.description }}</div>
          </div>
          <div style="padding: 10px;">
            Palavras chave: 
            <div style="font-size: 14px; display: flex; flex-wrap: wrap; font-weight: 100;">
              <div style="padding-left: 5px;" *ngFor="let keyword of dependenciaDetalhe.keywords">{{ keyword + ", " }}</div>
            </div>
          </div>
          <div style="padding: 10px;">
            Links úteis: 
            <div style="font-size: 14px; display: flex; flex-wrap: wrap; font-weight: 100;">
              <a (click)="abrirNavegador(dependenciaDetalhe?.links?.bugs)">bugs,</a>
              <a (click)="abrirNavegador(dependenciaDetalhe?.links?.homepage)">homepage,</a>
              <a (click)="abrirNavegador(dependenciaDetalhe?.links?.npm)">npm,</a>
              <a (click)="abrirNavegador(dependenciaDetalhe?.links?.repository)">repository</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>










  <div class="application-body" *ngIf="currentTab == 'editor'">

    <div class="col-left" [style.width.px]="widthColLeft">
      <div style="flex: 1"></div>
      <div class="grabber-col-left" (mousedown)="onMouseDownColLeft($event)"></div>
    </div>

    <div class="col-center" contenteditable="false"></div>

    <div class="col-right" [style.width.px]="widthColRight">
        <div class="grabber-col-right" (mousedown)="onMouseDownColRight($event)"></div>
        
        <div style="display: flex; flex-direction: column; width: 100%;">
          <div style="flex: 1; min-height: min-content;">
            <app-resources-tree *ngFor="let obj of srcGlobal" [objeto]="obj"></app-resources-tree>
            <hr>
          </div>
            
          <div style="flex: 1; overflow: -webkit-paged-x;">
            <app-properties-editor></app-properties-editor>
          </div>
        </div>


    </div>
  </div>


  <!-- Status bar -->
  <app-botton-bar-status></app-botton-bar-status>
  <!-- Status bar -->
</div>
