<div class="main-page">
    <!-- Top bar frame -->
    <app-top-bar-frame [tituloIde]="'Nome do projeto'"></app-top-bar-frame>

    <div class="application-body">
        <!-- <div class="col-left" mwlResizable [enableGhostResize]="true" [style.width.px]='width'
            [resizeEdges]="{bottom: fasle, right: true, top: fasle, left: false}" (resize)="onResizeEnd($event)">

        </div> -->
        <div class="col-left" [style.width.px]='width'>

            <div class="grabber" (mousedown)="onMouseDown($event)" (mousemove)="onMouseMove($event)" (mouseup)="onMouseMove($event)"></div>
        </div>

    </div>

    <!-- Status bar -->
    <app-botton-bar-status></app-botton-bar-status>
</div>