@import "../../../styles.scss";

.main-page {
  background-color: $color-background;
  height: $size-fill;
  display: flex;
  flex-direction: column;
}

.application-body {
  flex: 1;
  display: flex;
}

.col-left {
  height: $size-fill;
  background-color: $color-background-col;
  min-width: $size-38;
  max-width: $size-half;
  display: flex;
  overflow-y: auto;
}

.col-center {
  height: $size-fill;
  width: $size-fill;
  flex: 1;
}

.col-right {
  height: $size-fill;
  background-color: $color-background-col;
  min-width: $size-38;
  max-width: $size-half;
  display: flex;
  overflow-y: auto;
}

.grabber-col-left:active,
.grabber-col-right:active,
.grabber-col-right-resize-y:active {
  background-color: $color-top-bar;
}

.grabber-col-left {
  cursor: col-resize;
  width: $size-1-5;
  background-color: $color-background;
  overflow: hidden;
  height: $size-fill;
  margin-left: auto;
}

.grabber-col-right {
  cursor: col-resize;
  width: $size-1-5;
  background-color: $color-background;
  overflow: hidden;
  height: $size-fill;
}

.grabber-col-right-resize-y {
  cursor: row-resize;
  width: $size-fill;
  background-color: $color-background;
  overflow: hidden;
  height: $size-1-5;
}

.barra-lateral {
  height: $size-fill;
  width: $size-15;
  background-color: $color-tool-bar;
}

// Relacionado a tab de properties ----------------------------
.properties-main {
  height: $size-fill;
  width: $size-half-70;
  min-width: $size-75;
  max-width: $size-150;
  margin: auto;
  background-color: $color-background-tab-properties;
  padding: $size-6;
  .title-properties-main {
    font-size: $size-6;
  }
  .body-properties-main {
    padding: $size-14;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .propertie {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      font-size: $font-size-3;
      margin-top: $size-0-5;
      margin-bottom: $size-0-5;
    }
  }
}

.propertie input, .propertie select {
  background: $color-background-propertie-editor;
  border: $size-none solid $color-white;
  color: $font-color-input-propertie-editor;
  padding: $size-2;
  padding-left: $size-1-5;
  padding-right: $size-1-5;
  font-family: Arial, 'Courier New', monospace;
  max-height: $size-4;
  width: 70%;
}

.dependences-main {
  display: flex;
  height: $size-fill;
  width: $size-half-90;
  min-width: $size-75;
  max-width: $size-250;
  margin: auto;
  background-color: $color-background-tab-properties;
  padding: $size-6;
  .dependences-list {
    display: flex;
    flex-direction: column;
    padding: $size-1;
    flex: 1;
    .title-dependences-list {
      font-size: $size-6;
    }
    .corpo-dependences-list {
      flex: 1;
      border: $borda-size-0-25 solid #4F4F4F;
      padding: $size-4;
      margin-bottom: $size-5;
      overflow-x: auto;
    }
    .item-lista {
      display: flex;
      padding: 10px;
      cursor: pointer; 
      flex: 1;
    }
    .item-lista:hover {
      opacity: 0.7;
    }
    .item-lista:active {
        outline: auto;
    }
  }
  .dependences-details {
    padding: $size-1;
    flex: 1;
    max-width: $size-38;
    max-width: $size-75;
    .title-dependences-details {
      font-size: $size-4;
      padding: $size-1;
      min-height: $size-9;
    }
    .version-dependences {
      font-size: $size-3;
    }
    .dependences-details-main {
      border: 1px solid $color-border-light-gray;
      padding: $size-1;
      height: -webkit-fill-available;
      a {
        padding-left: 5px; 
      }
    }
  }
  .body-dependences-main {
    padding: $size-14;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .propertie {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      font-size: $font-size-3;
      margin-top: $size-0-5;
      margin-bottom: $size-0-5;
    }
  }
}

.btns-toggle, .btn-instalar-remover-dependencia {
  padding-top: $size-7;
  padding-bottom: $size-7;
  width: $size-92-5;
  margin: auto;
  display: flex;
}

.btn-toggle, .btn-instalar-remover-dependencia {
  padding: $size-5;
  padding-top: $size-2;
  padding-bottom: $size-2;
  margin: $size-0-5;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  flex: 1;
  justify-content: center;
}

