/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

// Sizes ------------------
$size-fill: 100%;
$size-half: 50%;
$size-none: 0px;

$size-0-5: 2px;
$size-0-75: 3px;
$size-1: 4px;
$size-1-5: 6px;
$size-2: 8px;
$size-3: 12px;
$size-4: 16px;
$size-5: 20px;
$size-6: 24px;
$size-7: 28px;
$size-8: 32px;
$size-9: 36px;
$size-10: 40px;
$size-11: 44px;
$size-13: 48px;
$size-14: 52px;
$size-15: 56px;
$size-16: 60px;
$size-17: 64px;
$size-18: 68px;
$size-19: 72px;
$size-20: 76px;
$size-21: 80px;
$size-22: 84px;
//...
$size-35: 140px;
$size-38: 152px;

// Font-sizes -------------
$font-size-1: 4px;
$font-size-1-5: 6px;
$font-size-2: 8px;
$font-size-3: 12px;
$font-size-3-5: 14px;
$font-size-4: 16px;
$font-size-5: 20px;
$font-size-6: 24px;
$font-size-7: 28px;
$font-size-8: 32px;
$font-size-9: 36px;
$font-size-10: 40px;


// Colors -----------------
$color-white: #ffffff;

$color-background-propertie-editor: #3C3C3C;
$color-background-propertie-editor-exetended-hover: #525252;
$color-top-bar: #3C3C3C;
$color-top-bar-light: #4d4d4d;
$color-botton-bar: #0F77BF;
$color-background: #1E1E1E;
$color-background-col: #252527;
$color-background-col-click: #313135;

$color-top-bar-button-close: #c70000;
$color-top-bar-button-maximizar: #4d4848;
$color-top-bar-button-minimizar: #4d4848;

// Fonte colors
$font-color-label-propertie-editor: #adadad;
$font-color-input-propertie-editor: #d8d8d8;
$font-color-input-propertie-editor-focus: #f3f3f3;

// Box shadows
$box-shadow-small: 0px 0px 5px 0.1px #191919;

// Outlines
$outline-padrao: 2px solid #f3f3f3;









* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: Segoe UI, 'Courier New', monospace;
  overflow: hidden;
  color: white;
}

.item-com-erro {
  border: thin dotted red;
}



// Ajusta o scroll de todos os elementos.
::-webkit-scrollbar {
  width: 10px;
  height: 100%;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: $color-top-bar;
}

::-webkit-scrollbar-thumb:hover {
  background-color: $color-top-bar-light;
}



